<form class="label" autocomplete="off">
    <div>
        <input type="number" name="system.value" value="{{system.value}}">
        <input type="text" name="system.name" value="{{system.name}}">
    </div>
    {{editor system.desc target="system.desc" button=true owner=owner editable=editable}}
</form>