<section class="attributes">
    <div data-attributes="Inteligencja">
        <p>Inteligencja:</p>
        <p>{{#loop Inteligencja}}<i class="fa-solid fa-star"></i>{{/loop}}</p>
    </div>
    <div data-attributes="Osobowość">
        <p>Osobowość:</p>
        <p>{{#loop Osobowość}}<i class="fa-solid fa-star"></i>{{/loop}}</p>
    </div>
    <div data-attributes="Sprawność">
        <p>Sprawność:</p>
        <p>{{#loop Sprawność}}<i class="fa-solid fa-star"></i>{{/loop}}</p>
    </div>
    <div data-attributes="Psychika">
        <p>Psychika:</p>
        <p>{{#loop Psychika}}<i class="fa-solid fa-star"></i>{{/loop}}</p>
    </div>
    <div data-attributes="Zmysły">
        <p>Zmysły:</p>
        <p>{{#loop Zmysły}}<i class="fa-solid fa-star"></i>{{/loop}}</p>
    </div>
</section>